/* loginStyles.css */

.container {
  width: 100vw;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fhotel%2F&psig=AOvVaw3z3B7EcMcMKbCfx-G3ZZM4&ust=1713565236132000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJiekYvmzIUDFQAAAAAdAAAAABAE");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.background-text {
  position: absolute;
  top: 10%;
  font-size: 4.5rem;
  color: rgba(255, 255, 255, 0.85);
  pointer-events: none; /* Make sure clicks go through this layer */
  user-select: none; /* Prevent text selection */
}

.login-card {
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  backdrop-filter: blur(8px); /* Adding a blur effect for supported browsers */
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.form-label {
  font-weight: bold;
  color: #333; /* Darkened color for better readability */
}

.form-control {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #aaa; /* Lightened border color */
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 8px; /* Reduced margin */
}

.btn-primary {
  background-color: #4CAF50!important; /* Green color */
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
}

.btn-primary:hover {
background-color: #45a049!important; /* Darker green on hover */
}

.link {
  text-decoration: none;
  color: #45a049; /* Blue color */
}

.button-container {
  display: flex;
  align-items: center;
  gap: 24px; /* Increased gap between buttons */
}
